
/* ###################################################################################### */
/* ###################################### MINI STATE #################################### */
/* ###################################################################################### */

gs-text[mini] {
    padding: 0;
    border: 0;
    box-shadow: 0 0 0 0 #FFFFFF;
    border-radius: 0;
    margin: 0;
}

gs-text[mini] input {
    padding: 0;
    border: 0;
}


/* ###################################################################################### */
/* #################################### READONLY STATE ################################## */
/* ###################################################################################### */

gs-text[readonly] {
    box-shadow: 0 0 0 0 #000 inset;
    opacity: 0.9;
    border-color: #E6E6E6;
    cursor: default;
}

gs-text {
    position: relative;
}

gs-text[show-caps].caps::after {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 1.12em;
    height: 1.12em;
    line-height: 1.25em;
    /* padding: 0.1em; */
    content: '\f023';
    font-family: fontawesome;
    text-align: center;
    text-indent: 0;
    font-size: 1.4em;
    
}